@charset "UTF-8";
body {
	padding-left: 5%;
	padding-right: 5%;
}

h1 {
	color: lawngreen;
	font-style: helvetica, sans-serif;
	font-size: 75px;
}

button {
	cursor: pointer;
}

.box {
	background-color: palegreen;
	padding: 40px;
	border-radius: 15px;
}

.result {
	padding-top: 20px;
	padding-left: 15px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: darkblue;
}